body{
background-color: #f8eded;
height: 100%;
margin: 0;
font-family: "Montserrat";
}
#title{
background-color: #000;
color: #fff;
}
.navbar-brand{
font-family: "Ubuntu";
font-size: 1.5rem;
font-weight: bold;
}
.nav-item{
  font-family: "Montserrat-Light";
  font-size: 1.25rem;
}
/*heading*/

#heading{
  text-align: center;
  }
.head{
  font-family: "Montserrat-Bold";
  font-size: 2.5rem;
  padding: 6% 0;
}
.para1{
  padding: 4% 3%;
   border: solid #ce97b0 3px;
   border-radius: 50%;
   font-size: 1.5rem
}
.para1:hover{
  color:#233e8b;
}
form{

  margin: 0 auto;
  width: 50%;
}
@media (max-width: 920px)
{
  #heading{
    text-align: center;
    }
    .para1{
      padding: 4% 3%;
      border:1px;
    }
    .File{
      width:50%;
    }
    button{
      width: 100%;
    }
}

.File{
  margin:6% 0;
}
button{
  margin-bottom: 3%;
}
/*footer*/
#Output{
  padding: 4% 9%;
  background-color: #f1aa9b;
  width: 85%;
  margin: 0 auto;
}
#footer{
  padding: 7% 3%;
text-align: center;
}

h2{
  font-family: "Montserrat-Bold":
  width: 85%;
  padding: 4% 3%;
}

h3{
  font-family: "Montserrat-Bold":
  width:85%;
  color: #233e8b;
  padding: 4% 3%;
  background-color: "red";
}
span{
  color:red;
}
